<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "static cropped.jpg" %>
	</div>

	<div id="content">
		<h1>Hello my name is Joanne.</h1>
		<p>And this is my Ruby on Rails practice blog.</p>
		<p>It's working.</p>
		<p>Hooray no bugs!</p>
	</div>
</div>